@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #ececec;
  color: #333;
  height: 100%;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(204, 204, 204);
  font-size: 1.3rem;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;
}

#root {
  align-self: stretch;
  flex: 1 1 auto;
  background-color: white;
  margin: 60px auto 20px;
  max-width: 900px;
  padding: 30px;
  /* position: relative; */
}

.wrapper {
  flex: 1 1 auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  margin-top: 5px;
  position: relative;
}

h1:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: rgb(13, 13, 113);
  bottom: -5px;
  left: 0;
}

.notification {
  position: absolute;
  background-color: rgb(173, 230, 230);
  top: 5px;
  right: 5px;
  padding: 7px;
  border-radius: 10px;
  font-size: 12px;
  display: none;
}

.message {
  text-align: center;
  font-size: 3rem;
  padding: 20px;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  margin-bottom: 10px;
}

.product-id {
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 40px;
  border: 1px solid rgb(198, 198, 198);
  outline: rgb(13, 13, 113);
}

input::-webkit-input-placeholder {
  color: rgb(193, 193, 193);
}
input:-moz-placeholder {
  color: rgb(193, 193, 193);
} /* FF 4-18 */
input::-moz-placeholder {
  color: rgb(193, 193, 193);
} /* FF 19+ */
input:-ms-input-placeholder {
  color: rgb(193, 193, 193);
} /* IE 10+ */

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */

.add-btn {
  position: relative;
  width: 250px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(13, 13, 113);
  color: white;
  margin-bottom: 30px;
}

.add-btn:hover {
  background-color: rgb(7, 7, 83);
}

.products {
  padding: 20px 0;
}

.product {
  padding: 30px;
  border-top: 1px solid rgb(210, 210, 210);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.product__img {
  margin: 20px;
  width: 150px;
  aspect-ratio: auto;
  background-color: #fafafa;
}

.product__info {
  margin: 20px;
}
.product__price {
  font-size: 1.2rem;
  font-weight: 400;
  color: red;
}

.product__price::after {
  content: "$";
  margin-left: 5px;
}

.product__price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.product__title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 1.2rem;
}

.product__description {
  margin-bottom: 25px;
  color: #999;
}
.product__category {
  text-decoration: none;
  font-style: italic;
  color: #999;
}

.product__category:hover {
  text-decoration: underline;
}

.product__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__rating-wrap {
  bottom: 0;
  position: relative;
}

.product__rating-wrap::before {
  content: "★★★★★";
  color: rgb(237, 196, 14);
  margin-right: 10px;
}

.product__rating-num {
  font-weight: 400;
}
.product__delete-icon {
  /* padding: 5px; */
  width: 25px;
  height: 25px;
  fill: #999;
  cursor: pointer;
}

.product__delete-icon:hover {
  fill: rgb(255, 0, 0);
}

.product__delete-icon:active {
  fill: rgb(167, 0, 0);
}

footer {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  background-color: gray;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 12px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.product__counter-wrap {
  display: flex;
  margin: 0 20px;
  margin-top: -5px;
}

.product__counter-btn {
  box-sizing: content-box;
  height: 25px;
  width: 25px;
  border: none;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ededed;
}

.product__counter-btn:hover {
  background-color: #dedede;
}

.product__counter-input {
  width: 45px;
  height: 35px;
  border: 1px solid rgb(13, 13, 113);
  margin: 0 10px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  text-align: center;
}

.product__delete-wrap {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .product {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .product__bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .product__category {
    margin-bottom: 20px;
  }

  .product {
    position: relative;
  }

  .product__delete-wrap {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
